@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

/* General type rules */

body{
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background: #E0E7FF;
  color: #51557D;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

a{
  text-decoration: none;
}


/* Rules for headings */

h1, h2, h3, h4, h5, h6{
  font-family: "Merriweather", serif;
  color: #1D1F50;
  }

h1{
  font-weight: 900;
  margin-top: 1em;
  margin-bottom: 0;
}

h2{
  margin-top: 1em;
  margin-bottom: 0;
}

h3{
  margin-top: 1em;
  margin-bottom: .25em;
}

h4{
  margin-top: 1em;
  margin-bottom: .25em;
}

h5{
  margin-top: 1em;
  margin-bottom: .25em;
}

h6{
  margin-top: 1em;
  margin-bottom: .25em;
}

p{
  margin-top: 4px;
  margin-bottom: .75em;
}




/* Page header */

header{
  max-width: 750px;
  font-size: 125%;
  font-weight: 800;
  border-radius: 0px 0px 8px 8px;
  padding: 20px 40px 20px 10px;
  margin: auto;
}



/* The text in the header */

.header-text{
   text-align: left;
   margin-left: 42px;
   color: #1D1F50;
   border-bottom: 4px solid #1D1F50;
   padding-bottom: 8px;
   padding-left: 2px;
   padding-right: 2px;
}



/* Main content area */

.blog-container{
  max-width: 700px;
  margin: auto;
  padding: 20px 50px 50px 50px;

  background: #fff;
  border-radius: 8px;

  margin-top: 12px;
  margin-bottom: 12px;
}



/* Images in main content area */

.blog-container img{
  max-width: 700px;
  border-radius: 4px;
  margin-bottom: -12px;
  margin-top: 20px;
}

.image-caption{
  font-style: italic;
  opacity: .6;
  padding-top: 24px;
  padding-bottom: 20px;
}



/* Author block in the blog */

.author-block{
  margin-top: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.photo-author{
  width: 48px;
  height: 48px;
  border-radius: 60px !important;
  display: inline;
  float: left;
  margin-right: 12px !important;
  margin-top: -2px !important;
}

.date{
  display: inline;
  opacity: .6;
}


/* Footer */

footer{
  text-align: center;
  font-size: .8em;
  line-height: 1.6em;
  max-width: 720px;
  margin: auto;
  padding: 16px 40px 16px 40px;
  background: #fff;
  border-radius: 8px 8px 0px 0px;
}



/* Heart animation in footer */

.heart{
  color: #ff4343;
animation-name: color;
animation-duration: 1s;
animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    color: #FF4343;
  }
  50% {
    color: #ee5E43;
  }
  100 {
    color: #FF4343;
  }
}

.social-link{
  text-decoration: none;
}

.social-link:hover{
  color: #ee5E43;
}



/* Some extra stuff */

.text-center{
    text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.color-accent{
  color: #FF4343;
}

.color-dark{
  color: #1D1F50;
}

.color-lighter{
  color: #51557D;
}

.quote{
  border-left: 4px solid #ff4343;
  padding-left: 12px;
}




/* Anything below this only applies to mobile */

@media only screen and (max-width: 600px){

  body{
     background-color: #fff;
  }

  .header-text{
    margin-left: 0px;
  }

  header{
    text-align: left;
    margin-left: 8px;
    border-radius: 0px;
  }

  .author-block{
    margin-top: 20px;
    line-height: 1.4;
    font-size: 90%;
    margin-bottom: 20px;
  }

  .blog-container{
    padding: 0px 5% 50px 5%;
    border-radius: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .blog-container img{
    max-width: 100%;
  }

  footer{
    border-radius: 0px;
    background: #E0E7FF;
  }

}
