body{
  font-family: "Times New Roman";
  font-size: 20px;
  background: red;
  color: yellow;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  
body{
   background-color: #ffffff;
  }
}
